body {
  font-family: "Coiny", system-ui;
}
.wrapper {
  width: 400px;
  height: 400px;
  margin: 55px auto;
  border: 2px solid grey;
  border-radius: 5px;
}
.header {
  padding: 12px 12px 0 12px;
  display: flex;
  justify-content: space-between;
}
.header__again {
}
h1 {
  text-align: center;
}
.header__info {
}
.main {
  padding: 12px 12px 12px 12px;
}
.main__guessed_number {
}
.main__columns {
}
.main__col1 {
}
.main__col1_button {
}
.main__col2 {
}
.main__col2_result {
}
.main__col2_score {
}
.main__col2_high-score {
}
